.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:  #0f172a;
}
body{
    margin: 0;
}
.heading{
    text-align: center;
    color: white;
    font-size: 50px;
}
.image{
    height: 300px;
}
@media (max-width:768px){
    .heading{
        text-align: center;
        color: white;
        font-size: 40px;
    }
    .image{
        height: 30vh;
        width: 40vw;
    }
}